*{
    margin: 0;
    padding:0
}

.main{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    
    
}

.container{
    width:80vh;
    height:95vh;
    background-color: teal;
    border-radius:1em;
    
}

.top{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    color:white;
    
}

.form-fields{
    padding:.8em;
}

.form-content{
    color:white;
    padding-left: 8em;
}

input{
    width:70%;
    padding: .5em;
    border-radius: .5em;
}

.form-label{
    padding-bottom:.2em;
}

.submit-button{
   width: 40%;
   margin-left: 5.5em;
}